VITE_API_KEY = "YOUR FIREBASE apiKey"
VITE_AUTH_DOMAIN =  "YOUR FIREBASE authDomain"
VITE_PROJECT_ID =  "YOUR FIREBASE projectId"
VITE_STORAGE_BUCKET =  "YOUR FIREBASE storageBucket"
VITE_MESSAGING_SENDER_ID =  "YOUR FIREBASE messagingSenderId"
VITE_APP_ID =  "YOUR FIREBASE appId"
VITE_MEASUREMENT_ID =  "YOUR FIREBASE measurementId"